@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    height: 100vh;
    grid-template: auto 1fr auto / auto 1fr auto;
    background-color: #F4D03F;
    background: linear-gradient(132deg, #F4D03F 0%, #1642a0 85%) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
}



#header {
    background: rgb(54, 53, 53);
    padding: 0.8rem;
    grid-column: 1 / 4;
    color: white;
}

main {
    display: grid;
    grid-column: 1 / 4;
}

#footer {
    background: rgb(54, 53, 53);
    padding: 0.2rem;
    text-align: center;
    grid-column: 1 / 4;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}



.wrapper {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background: url(contact.jpg) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -800px;
}



.contact-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-info {
    display: none;
    color: #fff;
    max-width: 500px;
    line-height: 65px;
    padding-left: 50px;
    font-size: 18px;
    margin-top: -50px;
}

    .contact-info i {
        margin-right: 20px;
        font-size: 25px;
    }

.contact-form {
    max-width: 700px;
    margin-right: 50px;
}

.contact-info, .contact-form {
    flex: 1;
}

    .contact-form h2 {
        color: #fff;
        text-align: center;
        font-size: 35px;
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    .contact-form .text-box {
        background: #000;
        color: #fff;
        border: none;
        width: calc(50% - 35px);
        height: 50px;
        padding: 12px;
        font-size: 15px;
        border-radius: 5px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        opacity: 0.9;
    }

        .contact-form .text-box:first-child {
            margin-right: 15px;
        }

    .contact-form textarea {
        background: #000;
        color: #fff;
        border: none;
        width: 96.2%;
        padding: 12px;
        font-size: 15px;
        min-height: 200px;
        max-height: 400px;
        resize: vertical;
        border-radius: 5px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        opacity: 0.9;
    }

    .contact-form .send-btn {
        float: right;
        background: #2E94E3;
        color: #fff;
        border: none;
        width: 120px;
        height: 40px;
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 2px;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
        transition-property: background;
    }

    .contact-form .home-btn {
        margin-right: 20px;
        float: right;
        background: #2E94E3;
        color: #fff;
        border: none;
        width: 150px;
        height: 40px;
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 2px;
        border-radius: 5px;
        cursor: pointer;
    }

    .contact-form .send-btn:hover {
        background: #0582E3;
    }

@media screen and (max-width: 950px) {
    .contact-section {
        flex-direction: column;
    }

    .contact-info, .contact-form {
        margin: 30px 50px;
    }

        .contact-form h2 {
            font-size: 30px;
        }

        .contact-form .text-box {
            width: 96.2%;
        }
}

/*css for alert messages*/

.alert-success {
    display: none;
}

    .alert-success.expand {
        display: block;
        z-index: 1;
        background: #D4EDDA;
        font-size: 18px;
        padding: 20px 40px;
        min-width: 420px;
        position: fixed;
        right: 0;
        top: 10px;
        border-left: 8px solid #3AD66E;
        border-radius: 4px;
        margin-top: 50px;
    }

.alert-error {
    display: none;
}

    .alert-error.expand {
        display: block;
        z-index: 1;
        background: #FFF3CD;
        font-size: 18px;
        padding: 20px 40px;
        min-width: 420px;
        position: fixed;
        right: 0;
        top: 10px;
        border-left: 8px solid #FFA502;
        border-radius: 4px;
        margin-top: 50px;
    }
