.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90.3vh;
}

video {
    height: 100%;
    width: 100%; /*177.77777778vh; */ /* 100 * 16 / 9 */
    object-fit: cover;
}
